#One {
	color: #0000CC;
	border: 2px solid black;
	padding: 5px;
	background-color: #ffffff;
	float: right;
	width: 31.5%;

}
#Two {
	color: #0000CC;
	border: 2px solid black;
	padding: 5px;
	background-color: #ffffff;
	float: right;
	width: 31.5%;

}
#Three {
	color: #0000CC;
	border: 2px solid black;
	padding: 5px;
	background-color: #ffffff;
	float: right;
	width: 31.5%;

}
.LUA {
	 width: 1800px;
	 height: 450px;

}
.marquee {
	 background-color: purple;
	 font-size: 20px;
	 color: #FFFFFF;
	 direction: left;
	 width: 100%;
	 height: 20px;
}
#shit {
	position: center;
}
